/* RESET */
@font-face {
    font-family: Poppins;
    src: url(../css/Poppins.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 2em auto;
}

.row {
    width: 100%;
    margin-bottom: 0;
}

.bg-container {
    display: inline-block;
    position: absolute;
    top: 84%;
    left:0%;
    width: 100%;
    margin: 0 auto;
}

.bg-red {
    background-color: red;
    color: white;
    font-size: 0.6em;
    padding: 0.15em 0.25em;
}

.bg-green {
    background-color: green;
    color: white;
    font-size: 0.6em;
    padding: 0.15em 0.25em;
}

.brand {
    width: 100%;
    margin: 0 auto;
    line-height: 0.7em;
    font-size: 0.6em;
    font-weight: 100;
    color: #2c2c2c;
}

.product-name {
    width: 100%;
    margin: 0 auto;
    line-height: 1.2em;
    font-size: 0.9em;
}

.price {
    width: 100%;
    margin: 0 auto;
    line-height: 1.2em;
    font-size: 0.7em;
    color: orangered;
}

#old-price {
    text-decoration: line-through;
    color: #2c2c2c;
}

/* PRODUCT */
.product {
    display: inline-block;
    position: relative;
    width: calc((100%/3) - 8px);
    margin: 0 4px;
    vertical-align: top;
}

.product img {
    width: 100%;
}

.product .heart {
    position: absolute;
    top: 5%;
    right: 0%;
    background-color: white;
    padding: 0.05em 0.5em;
}

/* HOVER */
.product:hover .img-a {
    display: none;
}

.product .img-b {
    display: none;
    width: 100%;
}

.product:hover .img-b {
    display: inline-block;
    width: 100%;
}

.product:hover .heart {
    display: none;
}

.product .heart-red {
    display: none;
    position: absolute;
    top: 5%;
    right: 0%;
    background-color: white;
    color: red;
    padding: 0.05em 0.5em;
}

.product:hover .heart-red {
    display: inline-block;
}